<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PrintStationCard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <userSettings>
    <PrintStationCard.Properties.Settings>
      <setting name="Model" serializeAs="String">
        <value/>
      </setting>
      <setting name="IpAddress" serializeAs="String">
        <value/>
      </setting>
      <setting name="PreviousPrinters" serializeAs="String">
        <value/>
      </setting>
      <setting name="TemplateFileDirectory" serializeAs="String">
        <value/>
      </setting>
      <setting name="TemplateImageDirectory" serializeAs="String">
        <value/>
      </setting>
    </PrintStationCard.Properties.Settings>
  </userSettings>
</configuration>
